@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply w-full h-[100dvh] p-3 bg-[#D5D0FF] overflow-hidden;
  }

  html {
    @apply h-[100dvh] font-Inter;
  }
  h1 {
    @apply font-bold text-[32px];
  }
  h2 {
    @apply font-medium text-[24px];
  }
  h3 {
    @apply font-medium text-[20px];
  }
  body {
    @apply h-[100dvh] font-normal text-[16px]  box-border overflow-hidden;
  }
  button {
    @apply font-medium text-[16px] flex items-center p-2 sm:p-3 gap-2 hover:bg-Primary/70 hover:text-white rounded-lg sm:transition sm:duration-300 cursor-pointer;
  }
  main {
    @apply w-full h-full  rounded-2xl;
  }
}

.page {
  @apply w-full h-full rounded-b-2xl sm:rounded-bl-none bg-slate-100 ;
}


/* scrollback styling */
.page::-webkit-scrollbar {
  width: 0.2rem;
}

.page::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.page::-webkit-scrollbar-thumb {
  background-color: #c3beff;
  border-radius: 3px;
}

/* active link */
.activeMobile, .activeDesktop{
  width: auto;
  border-radius: .5rem;
}
.activeMobile{
  border-radius: .5rem;
  border: 1px solid white;
}
.activeDesktop{
  background-color: #7465ff;
  color: white;
}

/* table styling */
.categoryTable{
  @apply w-full h-full bg-Primary text-white text-[8px] lg:text-xs uppercase py-5 pl-10 font-bold
}
.tableRow {
  @apply w-full h-full flex items-center gap-2 text-gray-500 first:text-Primary text-[9px] lg:text-xs py-5 pl-10 font-bold
}

/* cancel button in input type search */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

select{
  @apply text-gray-400 
}


/* tooltips */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #7465ff;
  color: #fff;
  font-size: 11px;
  text-align: center;
  border-radius: 8px 8px 0 8px;
  padding: 10px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -140px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}