@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply w-full h-[100dvh] p-3 bg-[#D5D0FF] overflow-y-hidden;
  }

  html {
    @apply h-[100dvh] font-Inter;
  }
  h1 {
    @apply font-bold text-[32px];
  }
  h2 {
    @apply font-medium text-[24px];
  }
  h3 {
    @apply font-medium text-[20px];
  }
  body {
    @apply h-[100dvh] font-normal text-[16px]  box-border overflow-y-hidden;
  }
  button {
    @apply font-medium text-[16px];
  }
  main {
    @apply sm:pl-64 pt-16 w-full h-full  rounded-2xl;
  }
}

.page {
  @apply rounded-b-2xl sm:rounded-bl-none bg-slate-100 w-full h-full;
}


/* scrollback styling */
.page::-webkit-scrollbar {
  width: 0.2rem;
}

.page::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.page::-webkit-scrollbar-thumb {
  background-color: #c3beff;
  border-radius: 3px;
}

/* active link */
.activeMobile, .activeDesktop{
  width: auto;
  border-radius: .5rem;
}
.activeMobile{
  border-radius: .5rem;
  border: 1px solid white;
}
.activeDesktop{
  background-color: #7465ff;
  color: white;
}

/* table styling */
.categoryTable{
  @apply w-full h-full bg-Primary text-white text-[8px] text-center uppercase p-5 font-bold
}
.tableRow {
  @apply w-full h-full flex items-center gap-2 justify-center text-gray-500 first:text-Primary text-[9px] p-4 font-bold
}
